// BLOCKQUOTE
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
    padding: $default-padding*2 $default-padding*3;
    margin-left: 0;
    margin-right: 0;
    border-left: 4px solid $primary;
}