// BLOCKQUOTE
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
    padding: $main-padding*2 $main-padding*3;
    margin-left: 0;
    margin-right: 0;
    border-left: 4px solid $color-primary;

}