// LISTS
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
    list-style: none;
    margin-top: 0;
    padding-left: 20px;

    dl,
    ol,
    ul {
        font-size: 100%;
        margin:0;
        
    }
}

ol {
    list-style: decimal inside;
}



ul {
    list-style: circle inside;
}

ul,
ol{
    li{
        margin-bottom: 5px;
    }
}