* {
  transition: $transition !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}



html {
  line-height: $line-height;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

html,
body{
  color: #666;
}


hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  border: 0;
  margin: 10px 0;
  border-top: 1px solid silver;
}


pre {
  font-family: monospace, monospace;
  font-size: $font-margin-base;
}



a {
  background-color: transparent;
  text-decoration: none;
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 15%);
  }
}


abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}



b,
strong {
  font-weight: $font-weight-bold;
}


ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul{
  font-size: 100%;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: $font-size-base;
}



small {
  font-size: 12px;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -$font-margin-base;
}

sup {
  top: -$font-margin-base;
}



img {
  max-width: 100%;
  border-style: none;
}


fieldset{
    border: none;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: $font-size-base;
  margin: 0;
}



button,
input {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: $main-padding;
}



legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}


progress {
  vertical-align: baseline;
}



textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}



[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}



[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}



details {
  display: block;
}



summary {
  display: list-item;
}



template {
  display: none;
}



[hidden] {
  display: none;
}


// CONTAINER
.container {
  max-width: $container;
  margin: 0 auto;
  padding-left: $main-padding;
  padding-right: $main-padding;
}

.container-fluid {
  max-width: $container-fluid;
  padding-left: $main-padding;
  padding-right: $main-padding;
}
