// TABLE
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.table-fluid {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;

    tr,
    td,
    table {
        white-space: nowrap;
    }
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   display: table;

   td,
   th,
   td,
   th {
       padding: 10px 15px;
       display: table-cell;
       text-align: left;
       vertical-align: center;
   }
}

thead{
    background-color: $color-light;
    th {
        padding: 15px !important;
    }
}

th {
    font-weight: 500;
}

table tr {
    border-bottom: 1px solid silver;

}


.table-striped {
    tr:nth-child(even) {
        background-color: $color-light;
    }
}