// TOOL TIP
// ––––––––––––––––––––––––––––––––––––––––––––––––––

[data-tip] {
    position: relative;

    &.tooltip-active,
    &:focus,
    &:hover {

        &::before,
        &::after {
            visibility: visible;
        }
    }
}

// ARROW
[data-tip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
    z-index: 100;
}

// CONTAINER
[data-tip]::after {
    content: attr(data-tip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #fff;
    padding: 4px 2px;
    font-size: 12px;
    min-width: 80px;
    width: auto;
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
}

[data-tip]::before,
[data-tip]::after {
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}


[data-tip-position="left"]::before {
    left: 0%;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg)
}

[data-tip-position='top']::before {
    left: 50%;
}

[data-tip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(-100%) rotate(-180deg)
}

[data-tip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translateY(-50%) rotate(90deg)
}

[data-tip-position='left']::after {
    left: 0%;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
}

[data-tip-position='top']::after {
    left: 50%;
}

[data-tip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[data-tip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}