// MAIN COLORS
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-primary: #5b3ff9;
$color-secondary: #474747;

$color-dark: #1c1b19;
$color-light: #f4f5f6;
$color-white: white;

// EXTRA COLORS
$success: #00C851;
$info: #17a2b8;
$warning: #ffbb33;
$danger: #ff4444;
$gray: gray;
$muted: #949494;


// DEFAILT TEXT COLOR
$default-text-color: #333;


// BACKGROUND & TEXT COLORS
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$colors: ('primary': $color-primary,
'secondary': $color-secondary,
'light': $color-light,
'dark': $color-dark,
'gray': $gray,
'white': $color-white,
'success': $success,
'info': $info,
'warning': $warning,
'danger': $danger,
'muted': $muted);


// BUTTON COLORS
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// BUTTON COLORS
$btn-colors: ('primary': $color-primary,
'secondary': $color-secondary,
'light': $color-light,
'white': $color-white,
'dark': $color-dark,
'gray': $gray,
'success': $success,
'info': $info,
'warning': $warning,
'danger': $danger,
);



// TYPOGRAPHY
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// FONT DEFAULTS
$line-height: 1.25;
$font-size-base: 16px;
$font-margin-base: 5px;
$font-weight-base: 400;
$font-weight-bold: bold;

// DEFAULT FONT
$font-family-base: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

// FONT SIZES
$h1: 46px;
$h2: 36px;
$h3: 28px;
$h4: 22px;
$h5: 18px;
$h6: 16px;



// GRID
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// SMALL
$small-media: '590px'; // EDITABLE

// MEDIUM
$medium-media: '790px'; // EDITABLE

// LARGE
$large-media: '1160px'; // EDITABLE

// XL
$xl-media: '1260px'; // EDITABLE

// GRID ARRAYS
$grid-array: ('-sm': $small-media,
  '-md': $medium-media,
  '-lg': $large-media,
  '-xl': $xl-media);


// UTILITIES
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// CONTAINER
$container: 1150px;
$container-fluid: 100%;


// TRANSITION
$transition: all 0.220s ease;


// DEFAULT PADDING
$default-padding: 10px;


// BORDER RADIUS
$border-radius: 4px;
$radius: true;


// BREAD CRUMB DIVIDER
$breadcrumb-divider: quote("/");