/* ========================================================================================
 * ----------------------------------------------------------------------------------------
 *  Author        : Himas Rafeek
 *  Framework     : Butter Cake
 *  Description   : A Modern CSS framework built with flexbox
 *  Version       : 2.0
 *  Copyright     : 2018
 *  Github        : https://github.com/HimasRafeek/butterCake
 *  URI           : https://getButterCake.com
 *  Licence       : MIT - https://github.com/HimasRafeek/butterCake/blob/master/LICENSE
 * ----------------------------------------------------------------------------------------
 * ========================================================================================s
 */


//  DO NOT REMOVE THIS
@import 'vars/variable';
@import 'mixins/mixins';


@import 'inc/reset';
@import 'inc/typography';
@import 'inc/utilities';
@import 'inc/navbar';
@import 'inc/dropdown';
@import 'inc/grid';
@import 'inc/buttons';
@import 'inc/jumbotron';
@import 'inc/form';
@import 'inc/cards';
@import 'inc/list';
@import 'inc/blockquote';
@import 'inc/table';
@import 'inc/code';
@import 'inc/alerts';
@import 'inc/badges';
@import 'inc/modal';
@import 'inc/tabs';
@import 'inc/accordion';
@import 'inc/breadcrumb';


// CUSTOM CSS
// uncomment to include your custom css

// @import 'inc/custom';