.container{
    max-width: 1000px;
}

.main-hero{
    min-height: 650px;
}

.fixed-top{
    border-bottom: 1px solid silver;
}

.navbar .brand {
    img {
        max-width: 50px;
        width: 100%;
    }
}

.sample-grid .columns {
    [class*="col"] {
        color: white;

    }

    [class*="col"]:nth-child(even) {
        div {
            background-color: tomato !important;

        }
    }

    [class*="col"]:nth-child(odd) {
        div {
            background-color: darkslategray !important;

        }
    }
}

.main-hero{
    @media(max-width: 580px){
        h1{
            font-size: 35px;
        }

        h4{
            font-size: 25px;
        }
    }
}


.sideNavbar {
    background: #eee !important;
}


.menu{
   a {
        color: #FF9900;
        padding: 10px 5px;
        
        &:hover{
            color: #9abc24 ;
        }
    }
}

.main-title{
    display: inline-block;
    font-size: 35px;
    margin-bottom: 35px;
    text-decoration: underline;
    text-decoration-color: #FF9900;
}